*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --second-pege-background: #2e2f42;
  --first-text-color: #2e2f42;
  --second-text-color: #434455;
  --third-text-color: #4d5ae5;
  --filters-background-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}
p, h1, h2, h3, h4, h5, h6, ul, a, img {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: block;
}



/* =======Main Page======== */


/* section 1 */

.heroimage {
   padding: 188px 0;
  height: 600px;
  background: var(--second-pege-background);
}

.caption {
margin: auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.button {

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: auto;
  display: block;
  margin-top: 48px;
}

.centr {
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* section 2 */
.sectionblok {
 padding: 120px 0
}
.heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.blok {
  display: flex;
  gap: 24px;
}

.feature {
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.featuretitle {
margin-bottom: 8px;
}
.item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

/* section 3 */
.sectionservice {
  padding-bottom: 120px; 
}

.headlinesection {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-text-color);
}

.service {
  display: flex;
flex-wrap: wrap;
   gap: 24px;
  
}

.icon {
  padding: 0px;
flex-direction: column;
align-items: flex-start;
}

/* section 4 */

.sectionfour {
padding: 120px 0;
  background-color: #f4f4fd;
  height: 732px;
}

.headlinesections {
margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-text-color);
}
.four {
 display: flex;
  gap: 24px; 
}

.picture {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.aside {
  padding: 32px 16px ;
}

.title { 
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--first-text-color);
}

.itemourteam {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

/* footer */

.box {
  padding: 100px 0;
  background: var(--second-pege-background);
   text-align: left;
}

.box-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  text-decoration: none;
margin-bottom: 16px;
}

.box-logo-studio {
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.boxdesc {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* ======================Portfolio======================== */

/* .list {
  list-style: none;
   margin: 0;
    padding: 0;
} */


.header {
  height: 72px;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
height: 72px;
  display: flex;
  justify-content: space-around;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin-right: 76px;
}

.header-logo-webstudio {
  color: var(--first-text-color);
}

.header-logo-studio {
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.link {
 color: var(--first-text-color);
}

.menu {
  display: flex;
  gap: 40px;
}

.adress-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
padding: 24px 0;
}

.menu,
.link:hover,
.mail:hover,
.menu,
.link:focus,
.mail:focus,
.address {
  font-style: normal;
  color: #404bbf;
} 

/*contacts */

.address{
  font-style: normal;
  margin-left: auto;
}
.cart {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
}

.mail-tel {
  display: flex;
  justify-content: flex-end;
  line-height: 1.5;
  letter-spacing: 0.02em;

}


/* btn */

.sectionbtn {
  padding: 96px 0 120px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.filters-btn {
  padding: 12px 24px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

/* row1 */

.items-row {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.containerrow {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}
.items-row-item {
  width: calc((100% - 48px) / 3);
}

.items-row-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.items-row-lead {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
