*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --second-pege-background: #2e2f42;
  --first-text-color: #2e2f42;
  --second-text-color: #434455;
  --third-text-color: #4d5ae5;
  --filters-background-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}

.list-style {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: var(--first-text-color);
}

/* =======Main Page======== */

img {
  display: block;
}

.mail {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
}

.tel {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
}

/* section 1 */

.heroimage {
  padding: 188px 0;
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  background: var(--second-pege-background);
}

.caption {
  max-width: 496px;
  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  padding: 16px 32px;
  position: absolute;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;

  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button:hover,
:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* section 2 */
.sectionblok {
 padding: 120px 0
}
.blok {
  display: flex;
  gap: 24px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 264px;
  height: 104px;
  left: 156px;
  top: 792px;
}

.item {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

/* section 3 */
.sectionservice {
  padding-bottom: 120px; 
}

.headlinesection {
  position: absolute;
  left: 559px;
  top: 1016px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-text-color);
  margin-bottom: 72px;
}

.service{
  display: flex;
   gap: 24px;
}

.icon {
  width: calc((100% - 48px) / 3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 360px;
  height: 300px;
  left: 156px;
  top: 1128px;
}

/* section 4 */

.sectionfour {
  background-color: #f4f4fd;
  position: absolute;
  width: 1440px;
  height: 732px;
  left: 0px;
  top: 1548px;
}

.headlinesections {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-text-color);
}

.picture {
  position: relative;
  display: inline-block;
  padding: 0px 0px 32px;
  width: 264px;
  height: 380px;
  left: 156px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--first-text-color);
  margin-bottom: 8px;
}

.itemourteam {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

/* footer */
.box {
  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
  background: var(--second-pege-background);
}

.box-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.box-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.boxdesc {
  position: absolute;
  width: 264px;
  height: 72px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* ======================Portfolio======================== */

.list {
  list-style: none;
}
img {
  display: block;
}

.header {
  box-sizing: border-box;
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
  text-decoration: none;
  margin-right: 76px;
}

.header-logo-webstudio {
  color: var(--first-text-color);
}

.header-logo-studio {
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
}

.menu-studio {
  padding: 24px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.menu,
.link:hover,
.mail:hover,
.menu,
.link:focus,
.mail:focus,
.address {
  font-style: normal;
  color: #404bbf;
}

.address ul li:nth-child(2) > a {
  left: 1133px;
}
/*contacts */

.cart {
  display: flex;
  gap: 40px;
}

.mail {
  display: flex;
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
  margin-right: 40px;
}

.tel {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
  margin-right: 0;
}

/* btn */

.filters {
  display: flex;
  gap: 24px;
  position: absolute;
  width: 586px;
  height: 48px;
  left: 427px;
  top: 168px;
}

.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.filters-btn-active {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  padding: 12px 24px;
  width: 69px;
  height: 48px;
  background: var(--filters-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.filters-btn {
  justify-content: center;
  width: 116px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

/* row1 */

.items-row {
  position: absolute;
  top: 260px;
  left: 110px;
  width: 1200px;
}
.items-row > li {
  position: relative;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #e7e9fc;
  margin: 25px 10px;
}

.items-row > li a img {
  width: 360px;
  height: 300px;
  left: 0px;
  top: 0px;
  mix-blend-mode: normal;
}
.items-row-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 0px 16px;
}
.items-row-lead {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  padding: 0px 16px;
}

/* footer */

.footerdesc {
  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 1764px;
  background: var(--second-pege-background);
}

.footer-link {
  padding: 0px;
  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-studio {
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.desc {
  position: absolute;
  width: 264px;
  height: 72px;
  left: 156px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
